<style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('assets/body_bg.jpg'); background-repeat: repeat; background-position: top left; background-attachment: scroll; }
</style>
<div id="services-area">
   <div class="container services_wrap">
      <div class="page_wrapper">
                                                    <div class="list-services ">
                                <a href="/shelter">
                                    <%= image_tag("/assets/thumb_02.jpg", style: "height:100px ; width:140px") %>
                                </a>
                <h6><a href="/shelter">ICNA Shelter</h6></a>
                <p><p>ICNA Women Shelter provides an alternative for women who arrived at a situation and found themselves helpless and doesn&#8217;t want themselves to stress further going thru gov documentation and waiting [&hellip;]</p>
</p>
                <a class="readmore" href="/shelter">Read More</a>
             </div>
                                                            <div class="list-services ">
                                <a href="/feeding"><img src="assets/thumb_03.jpg" alt=""  width="130"/></a>
                <h6><a href="/feeding">ICNA Feeding</h6></a>
                <p><p>ICNA is a nonprofit organization dedicated to providing the poor and homeless of New Jersey that also covers New York and surrounding areas with nutrition meals, clothing and home, especialy [&hellip;]</p>
</p>
                <a class="readmore" href="/feeding">Read More</a>
             </div>
                                                            <div class="list-services ">
                                <a href="/testimonials"><img src="assets/thumb_04.jpg" alt=""  /></a>
                <h6><a href="/testimonials">Testimonials</h6></a>
                <p><p>Julianna Carter &nbsp; My story I was born a Muslima. The reason I am homeless because, I have always had to depend on myself running everything. I had to grow [&hellip;]</p>
</p>
                <a class="readmore" href="/testimonials">Read More</a>
             </div>
                                                            <div class="list-services ">
                                <a href="/donate"><img src="assets/thumb_05.jpg" alt=""  /></a>
                <h6><a href="/donate">ICNA Donate</h6></a>
                <p><p>The donations are used in multi ICNA services and tax deductible. Sponsor Women Shelter And Children Sponsor Feeding Homeless Sponsor Clothing Sponsor Transportation .</p>
</p>
                <a class="readmore" href="/donate">Read More</a>
             </div>
                                                            <div class="list-services last-cols">
                                <a href="/contact"><img src="assets/thumb_06.jpg" alt=""  /></a>
                <h6><a href="/contact">Contact ICNA</h6></a>
                <p><p>Please contact us for any inquiries ICNA Inner City North America kaddijah@aol.com <br>1-646-236-7978 &nbsp; .</p>
</p>
                <a class="readmore" href="/contact">Read More</a>
             </div><div class="clear"></div>

          </div><!--end .page_wrapper-->
     </div> <!--end container-->
   </div><!--end services area-->

            <section>
            <div class="home-post">
                <div>
                   <header class="entry-header">
                   <iframe width="400" height="315" src="https://www.youtube.com/embed/03SskhkfBi4" frameborder="0" allowfullscreen></iframe>
                   <iframe width="400" height="315" src="https://www.youtube.com/embed/n0p9Kbgj1Bk" frameborder="0" allowfullscreen></iframe>
                   <div>
                   <CENTER>A New Born Orphan In Shelter</CENTER>
                   <table>
                   <td>
                   <%= image_tag("/assets/new3.jpg", style: "height:300px ; width:310px") %>&nbsp;&nbsp;&nbsp;
                   </td>
                   <td>
				   <%= image_tag("/assets/new1.png",  style: "height:300px ; width:310px") %>  &nbsp;&nbsp;&nbsp;
                   </td>
                   <td>
                   <%= image_tag("/assets/new.png", style: "height:300px ; width:300px") %>
                   </td>
                   </table>
                   </div>
                   <br>
                   <div>
                   <table>
                   <td>
                   <%= image_tag("/assets/home1.JPG", style: "height:280px ; width:310px") %>&nbsp;&nbsp;&nbsp;
                   </td>
                   <td>
                   <%= image_tag("/assets/image2.JPG", style: "height:280px ; width:310px") %>&nbsp;&nbsp;&nbsp;
                   </td>
                   <td>
                   <%= image_tag("/assets/image4.JPG", style: "height:280px ; width:300px") %>
                   </td>
                   </table>
                   </div>
                   <br>
                   <div>
                   <table>
                   <td>
                   <%= image_tag("/assets/image6.JPG", style: "height:280px ; width:310px") %>&nbsp;&nbsp;&nbsp;
                   </td>
                   <td>
                   <%= image_tag("/assets/image8.JPG", style: "height:280px ; width:310px") %>&nbsp;&nbsp;&nbsp;
                   </td>
                   <td>
                   <%= image_tag("/assets/image9.JPG", style: "height:300px ; width:300px") %>
                   </td>
                   </table>
                   </div>

                   <br><br>
                   &nbsp;&nbsp;&nbsp;<iframe width="460" height="600" src="assets/fly2.png" frameborder="0" ></iframe>&nbsp;&nbsp;&nbsp;
                   <iframe width="460" height="600" src="assets/fly1.png" frameborder="0" ></iframe>
                   <h2 class="entry-title">From the Blog</h2>
                   </header><!-- .entry-header -->
                    <div class="blog-post">
                                                                                                            <div class="blog-post-repeat">
    <article id="post-34" class="post-34 post type-post status-publish format-standard hentry category-icnaus-org-news tag-domestic-violence-women-shelter tag-donate-abused-women-children tag-donate-homeless tag-donate-to-icna tag-husband-abuse-women-icna-housing tag-icna-donations tag-icna-donations-center tag-icna-housing-for-women tag-icna-new-jersey-office tag-icna-newark-office-new-jersey tag-icna-office tag-sponsor-homeless-family tag-support-icna-donate tag-support-icna-donate-kids-teens-women-homeless-feeding-clothing-housing">
        <header class="entry-header">
            <h3 class="entry-title"><a href="/donateblog" rel="bookmark">Donate And Support ICNA Homeless Shelter Housing Women Children</a></h3>
                            <div class="postmeta">
                    <div class="post-date">March 20, 2016</div><!-- post-date -->
                    <div class="post-comment"> &nbsp;|&nbsp; <a href="#">Comments</a></div>
                    
                    <div class="clear"></div>
                </div><!-- postmeta -->
                        <div class="post-thumb"></div><!-- post-thumb -->
        </header><!-- .entry-header -->

                <div class="entry-summary">
            <p>ICNA Donate And Support The donations are used in multi ICNA services and tax deductible. Sponsor Women Shelter And Children Sponsor Feeding Homeless Sponsor Clothing Sponsor Transportation .</p>
            <a class="readmore" href="/donateblog">Read More &rarr;</a>
        </div>
    <div class="clear"></div>
</div>                                                           <div class="blog-post-repeat">
    <article id="post-32" class="post-32 post type-post status-publish format-standard hentry category-icnaus-org-news tag-family-attorneys-shelter-new-jersey tag-family-court-shelter tag-homeless-kids-in-new-jersey-with-mothers tag-homeless-women-abused-domestic-violense-homeless-shelter-icna tag-icna-housing-for-homeless-kids tag-icna-provides-shelter tag-icna-shelter-housing-for-women-kids-teenages tag-icna-women-housing-new-jersey tag-icna-women-housing-shelter tag-newark-new-jersey-housing tag-teenage-homeless-kids-in-newark-new-jersey">
        <header class="entry-header">
            <h3 class="entry-title"><a href="/testimonials" rel="bookmark">Testimonials</a></h3>
                            <div class="postmeta">
                    <div class="post-date">March 20, 2016</div><!-- post-date -->
                    <div class="post-comment"> &nbsp;|&nbsp; <a href="#">Comments</a></div>
                    
                    <div class="clear"></div>
                </div>
                        <div class="post-thumb"></div>
        </header>

                <div class="entry-summary">
            <p>Julianna Carter My story I was born a Muslima. The reason I am homeless because, I have always had to depend on myself running everything. I had to grow up [&hellip;]</p>
            <a class="readmore" href="/testimonials">Read More &rarr;</a>
        </div>
    </article><!-- #post-## -->
    <div class="clear"></div>
</div><!-- blog-post-repeat -->                                                            <div class="blog-post-repeat">
    <article id="post-30" class="post-30 post type-post status-publish format-standard hentry category-icnaus-org-news tag-homeless-people-shelter-new-jersey tag-homeless-shelter-list-new-jersey tag-how-many-shelters-in-new-jersey tag-how-to-find-family-shelters-in-new-jersey tag-icna-housing-for-women tag-icna-provide-women-housing-with-children-new-jersey tag-icna-women-children-shelter tag-icna-women-housing-free tag-icna-women-shelter-newark-new-jersey tag-new-jersey-homeless-women-children-housing tag-where-is-the-homeless-shelter-in-new-jersey">
        <header class="entry-header">
            <h3 class="entry-title"><a href="/shelterblog" rel="bookmark">ICNA Women Shelter</a></h3>
                            <div class="postmeta">
                    <div class="post-date">March 20, 2016</div><!-- post-date -->
                    <div class="post-comment"> &nbsp;|&nbsp; <a href="#">Comments</a></div>
                    
                    <div class="clear"></div>
                </div><!-- postmeta -->
                        <div class="post-thumb"></div><!-- post-thumb -->
        </header><!-- .entry-header -->

                <div class="entry-summary">
            <p>ICNA Women Shelter provides an alternative for women who arrived at a situation and found themselves helpless and doesn&#8217;t want themselves to stress further going thru gov documentation and waiting [&hellip;]</p>
            <a class="readmore" href="/shelterblog">Read More &rarr;</a>
        </div>
    </article><!-- #post-## -->
    <div class="clear"></div>
</div><!-- blog-post-repeat -->                                                            <div class="blog-post-repeat">
    <article id="post-1" class="post-1 post type-post status-publish format-standard hentry category-icnaus-org-news tag-homeless-shelter-newark-new-jersey tag-icna-clothing-homeless tag-icna-feeding-homeless tag-icna-female-shelter tag-icna-homeless-shelter-newark tag-icna-homeless-shelter-women-children tag-icna-new-jersey tag-icna-new-jersey-women-homeless tag-icna-org tag-icna-organization-new-jersey tag-icna-women-shelter-newark-new-jersey tag-icnaus-org tag-new-jersey">
        <header class="entry-header">
            <h3 class="entry-title"><a href="/feedinghomelessblog" rel="bookmark">ICNA Feeding Homeless</a></h3>
                            <div class="postmeta">
                    <div class="post-date">March 20, 2016</div><!-- post-date -->
                    <div class="post-comment"> &nbsp;|&nbsp; <a href="#">Comments</a></div>
                    
                    <div class="clear"></div>
                </div><!-- postmeta -->
                        <div class="post-thumb"></div><!-- post-thumb -->
        </header><!-- .entry-header -->

                <div class="entry-summary">
            <p>ICNA is a nonprofit organization dedicated to providing the poor and homeless of New Jersey that also covers New York and surrounding areas with nutrition meals, clothing and home, especialy [&hellip;]</p>
            <a class="readmore" href="/feedinghomelessblog">Read More &rarr;</a>
        </div>
    </article><!-- #post-## -->
    <div class="clear"></div>
</div><!-- blog-post-repeat -->                                                                                                                                </div>
                </div>
            </div><!-- home-post -->
        </section><div class="clear"></div>
