<div class="content-area">
    <div class="container main_content_wrap">
      <div class="page_wrapper">  
       <header class="entry-header">
         <div class="entry-content">
<p id="notice"><%= notice %></p>

<h1>Listing Testimonials</h1>

<% @testimonials.each do |testimonial| %>
<div>
    <%= testimonial.title %> &nbsp;|
    <%= link_to 'Show', testimonial %>&nbsp;
    <%= link_to 'Edit', edit_testimonial_path(testimonial) %>&nbsp;
    <%= link_to 'Delete', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>

    <div>
        <div class="info">
                <%= testimonial.testimonial %>
        </div>
    </div>
</div>
<br>
<% end %>



<br>

<%= link_to 'New Testimonial', new_testimonial_path %>
</div>
        </header> 
      </div>
    </div>
  </div>