<div class="content-area">
    <div class="container main_content_wrap">
      <div class="page_wrapper">  
       <header class="entry-header">
         <div class="entry-content">
<p id="notice"><%= notice %></p>

<h1>Listing Testimonials</h1>
<%= link_to 'New Testimonial', new_testimonial_path %>
<br><br>

<% @testimonials.each do |testimonial| %>
<div>
    <font size="4"><%= link_to testimonial.title, testimonial %></font> 
    <%= testimonial.created_at.strftime('%B %d, %Y') %>&nbsp;|
    <%= link_to 'Edit', edit_testimonial_path(testimonial) %>&nbsp;
    <%= link_to 'Delete', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
    
</div>
<br>
<% end %>



<br>


</div>
        </header> 
      </div>
    </div>
  </div>