<div class="content-area">
    <div class="container main_content_wrap">
      <div class="page_wrapper">  
       <header class="entry-header">
         <div class="entry-content">
<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <font size="4"><%= @testimonial.title %></font>
</p>

<p>
  <strong>Testimonial:</strong>
  <br>
  <div style="width:920px">
  <p align="justify"><%= @testimonial.testimonial %></p>
  </div>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', '/dashboard' %>
</div>
        </header> 
      </div>
    </div>
  </div>