<!DOCTYPE html>
<html lang="en-US">
<link rel="shortcut icon" type="image/png" href="/assets/thumb_02"/>
<title>Women Shelter &#8211; Inner City North America</title>
<head>
<meta charset="utf-8">
  <%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home blog custom-background">
    <div class="wrapper_main layout_wide" >
        <header class="header">
          <div class="container">
              <div class="head_fix">
                 <div id="logo">
                    <h1><a href="/">Women Shelter</a></h1>
                    <p>Inner City of North America ICNA</p>
                </div>
                <div class="header_right">
                  <div >&nbsp;&nbsp;&nbsp;
                  <% if user_signed_in? %>
                  <%= current_user.name %>
                  <%= link_to 'Profile', edit_user_registration_path %>
                  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                   <% else %>
                    &nbsp;<font size="4"><%= link_to 'Log In', new_user_session_path %></font>&nbsp;|
                    <font size="4"><%= link_to 'Sign Up', new_user_registration_path %></font>
                  <% end %>
                      <!-- <a href="#" target="_blank" class="facebook"></a>
                      <a href="#" target="_blank" class="twitter"></a>
                      <a href="#" target="_blank" class="linkedin"></a>
                      <a href="#" target="_blank" class="gplus"></a>
                      <a href="#" target="_blank" class="flickr"></a> -->
                   </div>
                          <h6>Call: 1-646-236-7978</h6>
                          <h6>Email: <a href="mailto:kaddijah@aol.com">kaddijah@aol.com</a></h6>
                </div>
                <div class="clear"></div>
              </div><!--end.head_fix-->
          </div>
             <div id="menu_fix">
             <div class="header_menu">

                     <nav id="nav">
                       <!-- <div class="menu"> -->
                       <ul>
                        <li class=""><a href="/">Home</a></li>
                        <li class=""><a href="/feeding">Feeding</a></li>
                        <li class=""><a href="/shelter">Shelter</a></li>
                        <li class=""><a href="/testimonials">Testimonials</a></li>
                        <li class=""><a href="/donate">Donate</a></li>
                        <li class=""><a href="/contact">Contact Us</a></li>
                      </ul>
                      <!-- </div> -->
                     </nav>
             </div> <!--end.header_menu-->
             </div>
        </header>

     </div>
<section id="home_slider">
                <div class="slider-wrapper theme-default"><div class="slidefix"><div id="slider" class="nivoSlider">
                <img src="/assets/slides/slide_01.jpg" alt="Women And With Children" title="#slidecaption1" /><img src="/assets/slides/slide_02.jpg" alt="ICNAUS Org Cares" title="#slidecaption2" /><img src="/assets/slides/slide_03.jpg" alt="Abuse Domestic Violence" title="#slidecaption3" />                </div>
                                <div id="slidecaption1" class="nivo-html-caption">
                    <div class="slide_info">
                            <h1>Women And With Children</h1>
                           <p>Regardless of religion, race and color, we provide homeless shelter for needy women and women with children.</p>
                    </div>
                        <p class="slide_more"><a href="#1">Read More</a></p>
                    </div>                    <div id="slidecaption2" class="nivo-html-caption">
                    <div class="slide_info">
                            <h1>ICNAUS Org Cares</h1>
                           <p>We care of those homeless on footpath walkers just pass by without helping. We care God's creation and serve humanity.</p>
                    </div>
                        <p class="slide_more"><a href="#2">Read More</a></p>
                    </div>                    <div id="slidecaption3" class="nivo-html-caption">
                    <div class="slide_info">
                            <h1>Abuse Domestic Violence</h1>
                           <p>ICNAUS Org is a place for emergency no documents, ICNAUS Org welcomes every women in need.</p>
                    </div>
                        <p class="slide_more"><a href="#3">Read More</a></p>
                    </div>
                </div></div>
                <div class="clear"></div>
        </section>
        <div class="mainpage-area">
        <div class="left_shadow"></div>
        <div class="right_shadow"></div>


<div class="clear"></div>

</div><!--end .main-wrapper-->
<%= yield %>
<footer id="footer">
  <div class="container">
    <div class="left">
               <div class="menu"><ul><li class="current_page_item"><a href="/">Home</a></li><li class=""><a href="/feeding">Feeding</a></li><li class=""><a href="/shelter">Shelter</a></li><li class=""><a href="/testimonials">Testimonials</a></li><li class=""><a href="/donate">Donate</a></li><li class=""><a href="/contact">Contact US</a></li></ul></div>

        </div>
      <div class="right">
      <p><font color="white">&nbsp;Copyright © 2016 ICNA US Org. All Rights Reserved</font><br /></p>
      <a href="http://wwww.enterinfinity.com"><p>Design & Developed by - Infinity Concepts & Design Inc</p></a>
      </div>
        <div class="clear"></div>
    </div>
</footer>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
